<div class="container">
  <h1>Your children:</h1>
  <div class="children">
    <div class="row">
      <% @children.each do |child| %>
        <div class="col-xs-12 col-sm-4">
          <div class="child">
            <div class="child-name">
              <%= child.first_name %> <%= child.last_name %>
            </div>
            <div class="child-classes">
              Classes:
              <% child.student_teaching_groups.each do |teaching_group| %>
                <p><%= teaching_group.group_code %> - <%= teaching_group.subject %></p>
              <% end %>
            </div>
            <%= link_to '', child_path(child), class: 'child-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
