<%= render 'shared/tabs', teaching_group: @teaching_group %>
<% @assignments.each do |assignment| %>
  <div class="markbook-card">
    <h3><%= assignment.title %></h3>
    <% assignment.attempts.each do |attempt| %>
      <div class="attempt-flex">
        <p><%= attempt.student.first_name %> <%= attempt.student.last_name %></p>
        <p><%= attempt.mark if attempt.mark %> <%= attempt.comment if attempt.comment %></p>
        <div class="card-actions">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#markModal<%= attempt.id %>">
            <%= attempt.mark ? "Update mark" : "Select mark"  %>
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="markModal<%= attempt.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

              <%= simple_form_for attempt do |f| %>
                <%= f.input :mark %>
                <%= f.input :comment %>
                <%= f.submit %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>












