<div class="white-container">
  <div class="show-page-header">
    <h2><%= @assignment.title %></h2>
    <% if @assignment.published == false %>
      <h3 class="warning">NOT SET</h3>
    <% elsif @assignment.marked_percentage < 100%>
      <h3><%= @assignment.marked_percentage %>% of homework marked</h3>
    <% else %>
      <h3 class="great">100% Marked</h3>
    <% end %>

  </div>
  <div class="show-page-dates">
    <div class="date">
      <span>SET DATE</span>
      <p>
        <%= @assignment.date_created.strftime("#{@assignment.date_created.day.ordinalize} %B") %>
      </p>
    </div>
    <div class="date">
      <span>DUE DATE</span>
      <p>
        <%= @assignment.date_due.strftime("#{@assignment.date_created.day.ordinalize} %B") %> <span>(<%= @assignment.days_left %> days left)</span>
      </p>
    </div>
    <div class="date">
      <span>GRADING STRUCTURE</span>
      <p>
        <%= @assignment.grading_type%>
      </p>
    </div>
  </div>
  <div class="show-instructions">
    <span>HOMEWORK INSTRUCTIONS</span>
    <p> <%= @assignment.description %></p>
    <div class="show-instructions-guardian">
      <span>GUARDIAN INSTRUCTIONS (student's can't see this section)</span>
      <p><%= @assignment.guardian_note %></p>
    </div>
  </div>
  <div class="show-completed">
    <% if @assignment.marked_percentage < 100 %>
      <span>COMPLETED BY</span>
      <% @assignment.attempts.each do |attempt| %>
        <div class="avatar-student">
          <%= image_tag "Einstein.jpg", class: "avatar"%>
          <p> <%= attempt.student.first_name%></p>
          <p> <%= attempt.mark %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="show-commands">
  <% if @assignment.published == false %>
      <%= link_to 'Edit Homework', edit_teaching_group_assignment_path(@teaching_group, @assignment), class: ' btn-white'  %>
      <%= link_to 'Set homework', teaching_group_assignment_path(@teaching_group, @assignment, assignment: {published: true}), class: 'btn-blue', method: :patch %>
    <% end %>
  </div>
</div>
