<%= render 'shared/sidebar' %>
<div>
  <%= render'shared/bannerbar' %>
</div>
<h2>SHOW</h2>
<h2 style="text-align:center; color:white;">This homework has now been set</h2>h2>
<p style="text-align:center;">Students and guardians can now see this</p>

<%= @assignment.title %>
<%= @assignment.description %>
<%= @assignment.guardian_note %>
<%= @assignment.date_created %>
<%= @assignment.date_due %>
<%= @assignment.grading_type %>


<div class="new-homework-form">
    <div class="left-column white-background ">
      <div class="remove-border">
        <%= @assignment.title %>
      </div>
      <div class="large-notes">
        <%= @assignment.description %>
      </div>
        <%= @assignment.guardian_note %>
    </div>
    <div class="right-column">
      <div class="white-background">
        <%= @assignment.date_created %>
        <%= @assignment.date_due %>
      </div>
      <div class="white-background ">
        <%= @assignment.grading_type %>
      </div>
      <!-- <div class="save-btn"> -->
        <%#= f.submit "Save" %>
      <!-- </div> -->
      <!-- <div class="set-btn"> -->
        <%#= f.submit "Set" %>
      <!-- </div> -->
    </div>
  </div>
