<div class="container">
  <div class="white-container">
    <div class="show-page-header">
      <% if current_user.teacher %>
          <h2 class="teacher-underline"><%= @assignment.title %></h2>
        <% elsif current_user.guardian %>
          <h2 class="guardian-underline"><%= @assignment.title %></h2>
        <% else %>
         <h2 class="student-underline"><%= @assignment.title %></h2>
      <% end %>
      <% if current_user.teacher && @assignment.published == false %>
          <h3 class="warning ribbon-right">NOT SET</h3>
        <% elsif current_user.teacher && @assignment.marked_percentage < 100%>
          <h3 class="percentage-marked"><%= @assignment.marked_percentage %>% of homework marked</h3>
        <% elsif current_user.teacher %>
          <h3 class="great">100% Marked</h3>
        <% elsif (current_user.guardian || current_user.student) && @attempt.mark.nil?%>
          <h3 class="guardian-warning guardian-ribbon-right">NOT MARKED</h3>
        <% elsif current_user.guardian || current_user.student %>
            <h3 class="great">MARKED</h3>
        <% else %>
         <p>bloop</p>
      <% end %>
    </div>
    <div class="show-page-dates">
      <div class="date">
        <span>SET DATE</span>
        <p>
          <%= @assignment.date_created.strftime("#{@assignment.date_created.day.ordinalize} %B") %>
        </p>
      </div>
      <div class="date">
        <span>DUE DATE</span>
        <p>
        <% if @assignment.date_due < Date.today %>
            <%= @assignment.date_due.strftime("#{@assignment.date_due.day.ordinalize} %B") %> <span>(<%= @assignment.days_until %> days ago)</span>
          <% else %>
            <%= @assignment.date_due.strftime("#{@assignment.date_due.day.ordinalize} %B") %> <span>(<%= @assignment.days_left %> days left)</span>
        <% end %>
        </p>
      </div>
      <div class="date">
        <span>GRADING STRUCTURE</span>
        <p>
          <%= @assignment.grading_type%>
        </p>
      </div>
    </div>
    <div class="show-instructions">
      <span>HOMEWORK INSTRUCTIONS</span>
      <p> <%= @assignment.description %></p>
      <% if current_user.teacher || current_user.guardian %>
        <div class="show-instructions-guardian">
          <span>GUARDIAN INSTRUCTIONS (students can't see this section)</span>
          <p><%= @assignment.guardian_note %></p>
        </div>
      <% end %>
    </div>
    <div class="show-completed">
      <% if current_user.teacher  %>
        <span>COMPLETED BY</span>
        <div class="display-student-avatars">
          <% @assignment.attempts.each do |attempt| %>
            <div class="avatar-student-all">
              <%= image_tag attempt.student.avatar, class: "avatar-student"%>
              <p> <%= attempt.student.first_name%></p>
              <% if attempt.mark %>
                <span class="marks"><p> <%= attempt.mark %> / 10</p></span>
              <% else %>
                <span class="pending"><p> --pending-- </p></span>
                <% end %>
            </div>
          <% end %>
        </div>
        <% elsif current_user.student %>
          <div>
            <% if @attempt.mark.nil? %>
              <span class="pending"> YOUR MARK <p> --pending-- </p></span>
              <span class="pending"> TEACHER COMMENTS <p> --pending-- </p> </span>
            <% else %>
              <span class="show-instructions"> YOUR MARK </span>
                <p> <%= @attempt.mark %></p>
              <span class="show-instructions"> TEACHER COMMENTS  </span>
                <p> <%= @attempt.comment %></p>
            <% end %>
          </div>
        <% else %>
          <div style="display: flex;">
            <% @children.each do |child| %>
              <div style="margin-right: 30px;">
                <% if @attempt.mark.nil? %>
                  <span class="pending"> <%= child.first_name.upcase %>'s MARK <p> --pending-- </p></span>
                  <span class="pending"> TEACHER COMMENTS <p> --pending-- </p> </span>
                <% else %>
                  <span class="marks"> <%= child.first_name.upcase %>'s MARK </span>
                   <p> <%= @attempt.mark %> / 10</p>
                  <span class="comments"> TEACHER COMMENTS</span>
                   <p> <%= @attempt.comment %></p>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="show-commands">
    <% if current_user.teacher && @assignment.published == false %>
        <%= link_to 'Edit Homework', edit_teaching_group_assignment_path(@teaching_group, @assignment), class: ' btn-white'  %>
        <%= link_to 'Set homework', teaching_group_assignment_path(@teaching_group, @assignment, assignment: {published: true}), class: 'btn-blue', method: :patch %>
        <% elsif current_user.teacher && @assignment.marked_percentage > 1 %>
          <%= link_to 'Continue marking', teaching_group_markbook_path(params[:teaching_group_id], assignment_id_accordion: @assignment.id, anchor: "target-#{@assignment.id}"), class: 'btn-blue' %>
        <% elsif current_user.teacher && @assignment.marked_percentage < 1 %>
          <%= link_to 'Mark this homework', teaching_group_markbook_path(params[:teaching_group_id], assignment_id_accordion: @assignment.id, anchor: "target-#{@assignment.id}"), class: 'btn-blue' %>
        <% elsif current_user.student %>
            <%= link_to 'Back to homework overview', teaching_group_upcoming_path(params[:teaching_group_id]), class: 'btn-orange' %>
        <% elsif current_user.guardian %>
          <%= link_to 'Back to homework overview', child_upcoming_path(@child), class: 'btn-green' %>
      <% end %>
    </div>
  </div>
</div>

<!-- link_to teaching_group_markbook_path(params[:teaching_group_id], assignment_id_accordion: assignment.id, anchor: "target-#{assignment.id}"), class: 'homework-status homework-under-marked' -->
