<%= render 'shared/tabs', teaching_group: @teaching_group %>
<div>
  <% if current_user.teacher %>
    <%= link_to 'Add new homework', new_teaching_group_assignment_path(@teaching_group), class: 'btn btn-default add-button' %>
  <% end %>

<%= render 'shared/homework_card' %>
<%= render 'shared/homework_card' %>
<%= render 'shared/homework_card' %>

  <div>
    <% @assignments.each do |assignment| %>
      <p><%= assignment.title %></p>
    <% end %>
  </div>
</div>
