<div class="banner_bar-wagon">
  <!-- Logo -->
  <a href="/" class="banner_bar-wagon-brand">
    <!-- <img src="#" alt="."> -->
  </a>

  <h3>Class: <%= @teaching_group.group_code %></h3>

  <!-- Right Navigation -->
  <div class="banner_bar-wagon-right hidden-xs hidden-sm">


    <a href="" class="banner_bar-wagon-item banner_bar-wagon-link"></a>

    <!-- Profile picture with dropdown list -->
    <div class="banner_bar-wagon-item">
      <div class="dropdown">
        <i class="fas fa-chevron-down fa-2x avatar dropdown-toggle"
         id="navbar-wagon-menu" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right banner_bar-wagon-dropdown-menu">
          <% current_user.teacher_teaching_groups.each do |teaching_group| %>
            <% if params[:controller] == 'assignments' && params[:action] == 'new' %>
              <%= link_to new_teaching_group_assignment_path(teaching_group) do %>
                <li><p><%= teaching_group.group_code %></p> </li>
              <% end %>
            <% elsif params[:controller] == 'teaching_groups' && params[:action] == 'show' %>
              <%= link_to teaching_group_path(teaching_group) do %>
                <li><p><%= teaching_group.group_code %></p> </li>
              <% end %>
            <% elsif params[:controller] == 'assignments' && params[:action] == 'teacher_index' %>
              <%= link_to assignments_teaching_group_path(teaching_group) do %>
                <li><p><%= teaching_group.group_code %></p> </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

