<div class="homework-card">
  <% if current_user.teacher %>
    <div class="homework-card-titles">
      <span>
      <p class="homework-title homework-teacher"><%= assignment.title %></p>
      </span>
      <p class="homework-date">Due: <%= assignment.date_due.strftime("%a #{assignment.date_due.day.ordinalize} %B") %></p>
    </div>
    <% if assignment.marked_percentage < 50 %>
      <%= link_to teaching_group_markbook_path(params[:teaching_group_id], assignment_id_accordion: assignment.id, anchor: "target-#{assignment.id}"), class: 'homework-status homework-under-marked' do %>
        <div>
          <p><%= assignment.marked_percentage %>% marked</p>
        </div>
      <% end %>
    <% elsif assignment.marked_percentage < 100 %>
      <div class="homework-status homework-partially-marked">
        <p><%= assignment.marked_percentage %>% marked</p>
      </div>
    <% else %>
      <div class="homework-status homework-fully-marked">
        <p><%= assignment.marked_percentage %>% marked</p>
      </div>
    <% end %>
    <%= link_to '', teaching_group_assignment_path(assignment.teaching_group, assignment), class: 'homework-link' %>
  <% elsif current_user.guardian %>
    <div class="homework-card-titles">
      <p><strong class="homework-guardian"><%= attempt.assignment.teaching_group.subject %></strong> </p>
      <span>
      <p class="homework-title homework-guardian"><%= attempt.assignment.title %></p>
      </span>
      <p class="homework-date">Due: <%= attempt.assignment.date_due.strftime("%a #{attempt.assignment.date_due.day.ordinalize} %B") %></p>
    </div>
    <% if params[:action] == 'upcoming' %>
      <div class="homework-status homework-guardian-mark">
        <p>Pending grade...</p>
      </div>
    <% else %>
      <div class="homework-status homework-guardian-mark">
        <p data-toggle="popover" data-placement="left" title="<%= attempt.comment %>"><%= attempt.mark %>/10</p>
        <!-- <p><%= attempt.comment %>/10</p> -->
        </div>
    <% end %>
    <%= link_to '', teaching_group_assignment_path(attempt.assignment.teaching_group, attempt.assignment), class: 'homework-link' %>
  <% elsif current_user.student %>
    <div class="homework-card-titles">
      <p><strong class="homework-student"><%= attempt.assignment.teaching_group.subject %></strong> </p>
      <span>
      <p class="homework-title homework-student"><%= attempt.assignment.title %></p>
      </span>
      <p class="homework-date">Due: <%= attempt.assignment.date_due.strftime("%a #{attempt.assignment.date_due.day.ordinalize} %B") %></p>
    </div>
    <div class="homework-status hidden-xs homework-student-mark">
      <% if params[:action] == 'upcoming' %>
        <p>Pending grade...</p>
      <% else %>
        <p><%= attempt.mark %>/10</p>
      <% end %>
      <p><%= attempt.comment %></p>
    </div>
    <div class="homework-status hidden-sm hidden-md hidden-lg homework-student-mark">
      <% if params[:action] == 'upcoming' %>
        <p>Pending grade...</p>
      <% else %>
        <p><%= attempt.mark %>/10</p>
      <% end %>
    </div>
    <%= link_to '', teaching_group_assignment_path(attempt.assignment.teaching_group, attempt.assignment), class: 'homework-link' %>
  <% end %>
</div>
<!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
