<div></div>
<div class="tabs", style="text-align:center">
  <% if !current_user.guardian %>
    <%= link_to "Upcoming homeworks", teaching_group_upcoming_path(teaching_group), class: "tab-link #{'active' if params[:action] == 'upcoming'}"  %>
    <%= link_to "Past homeworks", teaching_group_past_path(teaching_group), class: "tab-link" , class: "tab-link #{'active' if params[:action] == 'past'}"  %>
    <% if current_user.teacher %>
      <%= link_to "Markbook", teaching_group_markbook_path(teaching_group), class: "tab-link" , class: "tab-link #{'active' if params[:action] == 'markbook'}"  %>
    <% end %>
  <% else %>
    <%= link_to "Upcoming homeworks", child_upcoming_path(@child), class: "tab-link #{'active' if params[:action] == 'upcoming'}"  %>
    <%= link_to "Past homeworks", child_past_path(@child), class: "tab-link" , class: "tab-link #{'active' if params[:action] == 'past'}"  %>
  <% end %>
</div>
