<div class="container">
  <h1> Form List </h1>

  <div class="cards">
    <% @teaching_groups.each do |teaching_group| %>
      <div class="card">
        <div class="card-titles">
          <h1><%= teaching_group.group_code %></h1>
          <p><%= teaching_group.course %></p>
          <%= link_to '', teaching_group_path(teaching_group.id), class: 'card-link' %>
        </div>
        <div class="card-actions">
          <%= link_to 'Set', new_teaching_group_assignment_path(teaching_group.id), class: 'btn-set' %>
          <%= link_to 'Mark', assignments_teaching_group_path(teaching_group.id), class: 'btn-mark' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
